.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #fff;
  padding: 0%;
  filter: contrast(200%);
}

@media screen and (max-width: 1200px) {
.card__title {
  color: #282828;
  font-size: 14px;
  filter: contrast(200%);
  text-align: center;
  }

  .card__description {
    color: #282828;
    font-size: 12px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .card__title {
    color: #282828;
    font-size: 8px;
    filter: contrast(200%);
    text-align: center;
  }

  .card__description {
    color: #282828;
    font-size: 6px;
    text-align: center;
  }
}

@media screen and (max-width: 300px) {
  .card__title {
    color: #282828;
    font-size: 6px;
    filter: contrast(200%);
    text-align: center;
  }
}


.card__img-top {
  width: 288px;
  height: 182px;
  margin-bottom: auto;
}

header {
  background-color: #fff;
}

footer {
  background-color: #fff;
}

body {
  background-color: #c4c4c4;
}